.section__community {
    // @include alignetext
    text-align: center;

    &__button {
        border: 1px solid hsl(322, 100%, 66%);
        border-radius: $border-radius;
        background-color: hsl(322, 100%, 66%);
        color: white;
        padding-left: calc(#{$padding-left} * 2.5);
        padding-right: calc(#{$padding-right} * 2.5);
        padding-top: $padding-top;
        padding-bottom: $padding-bottom;
        cursor: pointer;
    } 

    &__button:hover {
       box-shadow: 5px 10px 10px rgb(175, 174, 174);
       background-color:  hsl(321, 100%, 78%);
       border: 1px solid hsl(321, 100%, 78%);
    }
}




