.header__section__title,
.section__screenmockup__article--formsize,
.section__screenmockup__article--messagesize,
.section__community__title {
    font-family: Poppins;
    font-weight: 700;
}

.header__section__text,
.section__screenmockup__article--form,
.section__screenmockup__article--message,
.section__together__paragrath,
.section__conversation__paragraph,
.section__user__paragraph,
.section__community__button,
.footer__sectionform__paragraph,
.footer__sectionform__button,
.footer__sectioncontact {
    font-family: Open Sans;
}


.section__together__title,
.section__conversation__title,
.section__user__title,
.footer__sectionform__title {
    font-family: Poppins;
    font-weight: 600;
}