.footer {
    background-image: url('../images/bg-footer-top-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 20%;
    color: white;
    padding-top: 15% ;
  
// calc(#{$padding-top} * 10)

    &__sectionform {
   background-color: #00252E;
   
     &__container {
         margin-inline-start: 5%;
     }

     &__button {
        margin-top: $margin-top;
        margin-bottom: $margin-bottom;
        border-radius: calc(#{$border-radius} / 2);
        background-color:  rgb(255,20,147) ;
        color: white;
        padding-left: calc(#{$padding-left} * 2.5);
        padding-right: calc(#{$padding-right} * 2.5);
        padding-top: $padding-top;
        padding-bottom: $padding-bottom;
        border: none;
     }

     
     &__input {
        padding-top: $padding-top;
        padding-bottom: $padding-bottom;
     }
     
  }


   &__sectioncontact {
        background-color:#00252E;
        margin-bottom: -2rem;
        

   }
}



.attribution {
    margin-bottom: 0;
    padding-bottom: calc(#{$padding-bottom} * 2);
}

@media(max-width: 600px) {
    .footer {
    background-image: url('../images/bg-footer-top-desktop.svg');
     padding-top: 25% ;
 
}

}

@media(max-width: 400px) {
    .footer {
    background-image: url('../images/bg-footer-top-mobile.svg');
     padding-top: 50% ;
 
}

}

@media(max-width: 300px) {
    .footer {
        background-image: url('../images/bg-footer-top-mobile.svg');
        padding-top: 30% ;
 
}

}

.footer__sectionform__title {
    padding-top: calc(#{$padding-top} * 3);
}



