.footer {
    background-image: url('../images/bg-footer-top-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0% 32%;
    color: white;
    // padding-top: 20% ;
    padding-block-start: 33%;
    // padding-block-end: 26%;
  


    &__sectionform {

   
    &__container {
         margin-inline-start: 5%;
     }

    &__button {
        margin-top: $margin-top;
        margin-bottom: $margin-bottom;
        border-radius: calc(#{$border-radius} / 2);
        background-color:  rgb(255,20,147) ;
        color: white;
        padding-left: calc(#{$padding-left} * 2.5);
        padding-right: calc(#{$padding-right} * 2.5);
        padding-top: $padding-top;
        padding-bottom: $padding-bottom;
        border: none;
        margin-inline-start: 40%;
     }

     
    &__input {
        padding-top: $padding-top;
        padding-bottom: $padding-bottom;
     }
     
  }


    &__sectioncontact {
        
        margin-bottom: -2rem;

        &__link {
            text-decoration: none;
            color: white;
            margin-inline-start: 5%;
         }

        &__icon {
             margin-inline-start: 10%;
         }
        &__paragraph {
             margin-inline-start: 10%;
         }

        &__logoimage {
             margin-inline-start: 10%;
         }

        &__container {
             margin-top: $margin-top;
         }

   }

   &__navigation__list {
       list-style: $list-style;
       display: flex;
   }

   &__navigation__list--anchore {
        text-indent: -9999px;
        display: inline-block;
   }

   &__navigation__list {
       padding-inline-start: 0;
       margin-inline-start: 10%;
   }

   &__navigation__list--anchore {
       margin-right: $margin-right;
   }

  
}


.name {
    text-decoration: none;
    color: white;
}


.attribution {
    margin-bottom: 0;
    padding-bottom: calc(#{$padding-bottom} * 2);
    margin-inline-start: 10%;
}

// @media(max-width: 600px) {
//     .footer {
//     background-image: url('../images/bg-footer-top-desktop.svg');
//      padding-top: 25% ;
 
// }

// }

// @media(max-width: 400px) {
//     .footer {
//     background-image: url('../images/bg-footer-top-mobile.svg');
//      padding-top: 50% ;
 
// }

// }

// @media(max-width: 300px) {
//     .footer {
//         background-image: url('../images/bg-footer-top-mobile.svg');
//         padding-top: 30% ;
 
// }

// }

.footer__sectionform__title {
    padding-top: calc(#{$padding-top} * 3);
}

.footer__sectionform__input {
    width: 80%;
    margin-inline-end: 10%;
}

.facebook {
    background-image: url("../images/icon-facebook.svg");
    background-repeat: no-repeat;
    padding: $padding;
}

.histogram {
    background-image: url("../images/icon-instagram.svg");
    background-repeat: no-repeat;
    padding: $padding;
}

.twitter {
    background-image: url("../images/icon-twitter.svg");
    background-repeat: no-repeat;
    padding: $padding;

}

 .footer__bigcontainer {
        background-color: #00252E;
        padding-top: 5%;
 }


