.footer {
    background-image: url('../images/bg-footer-top-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 20%;
    color: white;
    padding-top: 15% ;
  
// calc(#{$padding-top} * 10)

    &__sectionform {
   background-color: #00252E;
    
}

   &__sectioncontact {
        background-color:#00252E;
        margin-bottom: -2rem;
        

   }
}

.attribution {
    margin-bottom: 0;
}

@media(max-width: 600px) {
    .footer {
    background-image: url('../images/bg-footer-top-desktop.svg');
     padding-top: 25% ;
 
}

}

@media(max-width: 400px) {
    .footer {
    background-image: url('../images/bg-footer-top-mobile.svg');
     padding-top: 38% ;
 
}

}


