.masthead__section__logoimage,
.footer__sectioncontact__logoimage {
    width: 50%;
}

.section__screenmockup__image {
    width: 80%;
    margin-inline-start: 10%;
    margin-inline-end: 10%;
    margin-block-start: calc(#{$margin-block-start} * 4);
}

.section__together__image,
.section__conversation__image,
.section__user__image  {
    width: 100%;
}

.footer__sectioncontact__logoimage {
    width: 30%;
    padding-top: calc(#{$padding-top} * 3);
}

@media(min-width: 1000px) {
    .footer__sectioncontact__logoimage {
        width: 20%;
        padding-top: calc(#{$padding-top} * 3);
}
}

@media(min-width: 800px) {
    .section__together__image,
    .section__conversation__image,
    .section__user__image  {
        width: 50%;
    }

     .section__together__image {
        margin-inline-start: 40%;
   }

   .section__user__image {
       margin-inline-start: 40%;
   }
}

