.masthead__section__logoimage {
    width: 50%;
}

.section__screenmockup__image {
    width: 80%;
    margin-inline-start: 10%;
    margin-inline-end: 10%;
    margin-block-start: calc(#{$margin-block-start} * 4);
}