.section__screenmockup__article {
    justify-content: space-between;
    margin-inline-start:  20%;
    margin-inline-end: 20%;
    margin-block-start: 5% ;
    text-align: center;
}

 @media(min-width: 800px) {
     .section__screenmockup__article {
        display: flex;
     }
 }