body {
  padding: 0;
  margin: 0;
  max-width: 1440px;
  max-height: 2724px;
  margin-inline-start: auto;
  margin-inline-end: auto; }

.masthead__section {
  display: flex;
  justify-content: space-between;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem; }

.header__section {
  align-items: center;
  justify-content: center;
  text-align: center; }

.masthead__section__button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid deeppink;
  border-radius: 30px;
  background-color: white;
  color: deeppink; }

.header__section__text {
  margin-inline-start: 25%;
  margin-inline-end: 25%; }

.header__section__statedbutton {
  border: 1px solid deeppink;
  border-radius: 30px;
  background-color: deeppink;
  color: white;
  padding-left: calc(1rem * 2.5);
  padding-right: calc(1rem * 2.5);
  padding-top: 1rem;
  padding-bottom: 1rem; }

.masthead__section__logoimage,
.footer__sectioncontact__logoimage {
  width: 50%; }

.section__screenmockup__image {
  width: 80%;
  margin-inline-start: 10%;
  margin-inline-end: 10%;
  margin-block-start: calc(1rem * 4); }

.section__together__image,
.section__conversation__image,
.section__user__image {
  width: 100%; }

.footer__sectioncontact__logoimage {
  width: 30%;
  padding-top: calc(1rem * 3); }

@media (min-width: 1000px) {
  .footer__sectioncontact__logoimage {
    width: 20%;
    padding-top: calc(1rem * 3); } }

@media (min-width: 800px) {
  .section__together__image,
  .section__conversation__image,
  .section__user__image {
    width: 50%; }
  .section__together__image {
    margin-inline-start: 40%; }
  .section__user__image {
    margin-inline-start: 40%; } }

.section__screenmockup__article {
  display: flex;
  justify-content: space-between;
  margin-inline-start: 20%;
  margin-inline-end: 20%;
  margin-block-start: 5%; }

.section__together {
  background-image: url("../images/bg-section-top-mobile-1.svg"), url("../images/bg-section-bottom-mobile-1.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100%;
  background-position: 10% 1%, 50% 100%;
  padding-block-start: 31%;
  padding-block-end: 10%; }
  .section__together__container {
    background-color: #F6FBFF;
    padding-bottom: 5%; }
  .section__together__text {
    margin-inline-end: 10%;
    margin-block-start: 5%;
    margin-block-end: 3rem;
    padding: 1rem;
    text-align: center; }

@media (min-width: 800px) {
  .section__together {
    background-image: url("../images/bg-section-top-mobile-1.svg"), url("../images/bg-section-bottom-mobile-1.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 100%;
    background-position: 10% 1%, 50% 100%;
    padding-block-start: 30%;
    padding-block-end: 10%; }
  .section__together__text {
    margin-block-end: 20%;
    margin-inline-end: 60%;
    margin-inline-start: 5%;
    margin-top: -30%; }
  .section__together__text {
    text-align: start; } }

.section__conversation {
  margin-block-start: 10%;
  margin-inline-start: 5%; }
  .section__conversation__text {
    margin-inline-start: 7%;
    margin-block-start: 10%;
    text-align: center; }

@media (min-width: 800px) {
  .section__conversation__text {
    margin-inline-start: 60%;
    text-align: start;
    margin-top: -30%; } }

.section__user {
  background-image: url("../images/bg-section-top-mobile-2.svg"), url("../images/bg-section-bottom-mobile-2.svg");
  margin-block-start: 10%;
  background-repeat: no-repeat, no-repeat;
  background-size: 100%;
  background-position: 10% 2%, 50% 100%;
  padding-block-start: 28%;
  padding-block-end: 26%; }
  .section__user__text {
    margin-inline-start: 7%;
    margin-block-start: 10%;
    padding: 1rem;
    text-align: center; }
  .section__user__container {
    background-color: #F6FBFF; }

@media (min-width: 800px) {
  .section__user__text {
    margin-inline-end: 50%;
    margin-inline-start: -5%;
    text-align: start;
    margin-top: -30%;
    padding: 10%; }
  .section__user__container {
    padding-top: 2%; }
  .section__user {
    margin-top: 30%; } }

.section__community {
  text-align: center; }
  .section__community__button {
    border: 1px solid deeppink;
    border-radius: 30px;
    background-color: deeppink;
    color: white;
    padding-left: calc(1rem * 2.5);
    padding-right: calc(1rem * 2.5);
    padding-top: 1rem;
    padding-bottom: 1rem; }

.footer {
  background-image: url("../images/bg-footer-top-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 32%;
  color: white;
  padding-block-start: 33%; }
  .footer__sectionform__container {
    margin-inline-start: 5%; }
  .footer__sectionform__button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: calc(30px / 2);
    background-color: deeppink;
    color: white;
    padding-left: calc(1rem * 2.5);
    padding-right: calc(1rem * 2.5);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    margin-inline-start: 40%; }
  .footer__sectionform__input {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .footer__sectioncontact {
    margin-bottom: -2rem; }
    .footer__sectioncontact__link {
      text-decoration: none;
      color: white;
      margin-inline-start: 5%; }
    .footer__sectioncontact__icon {
      margin-inline-start: 10%; }
    .footer__sectioncontact__paragraph {
      margin-inline-start: 10%; }
    .footer__sectioncontact__logoimage {
      margin-inline-start: 10%; }
    .footer__sectioncontact__container {
      margin-top: 1rem; }
  .footer__navigation__list {
    list-style: none;
    display: flex; }
  .footer__navigation__list--anchore {
    text-indent: -9999px;
    display: inline-block; }
  .footer__navigation__list {
    padding-inline-start: 0;
    margin-inline-start: 10%; }
  .footer__navigation__list--anchore {
    margin-right: 1rem; }

.name {
  text-decoration: none;
  color: white; }

.attribution {
  margin-bottom: 0;
  padding-bottom: calc(1rem * 2);
  margin-inline-start: 10%; }

.footer__sectionform__title {
  padding-top: calc(1rem * 3); }

.footer__sectionform__input {
  width: 80%;
  margin-inline-end: 10%; }

.facebook {
  background-image: url("../images/icon-facebook.svg");
  background-repeat: no-repeat;
  padding: 1rem; }

.histogram {
  background-image: url("../images/icon-instagram.svg");
  background-repeat: no-repeat;
  padding: 1rem; }

.twitter {
  background-image: url("../images/icon-twitter.svg");
  background-repeat: no-repeat;
  padding: 1rem; }

.footer__bigcontainer {
  background-color: #00252E;
  padding-top: 5%; }

@media (min-width: 800px) {
  .footer__sectioncontact {
    margin-inline-end: 70%;
    margin-top: -20%; }
  .footer__sectionform {
    margin-inline-start: 60%; }
  .footer {
    padding-block-start: 25%; } }
